@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-dm-sans), sans-serif;
  transition: color 1s ease-in-out;
  color: #333;

  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.3),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.3), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.3), rgba(0, 0, 255, 0) 70.71%),
    white;
  background-size: 300% 300%;
  animation: gradient 20s ease infinite;
  transition: background 1s ease-in-out;
}

/* Dark mode background gradient */
.dark body {
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.3),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.3), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.3), rgba(0, 0, 255, 0) 70.71%),
    black;
  background-size: 300% 300%;
  animation: gradient 20s ease infinite;
  transition: background 1s ease-in-out;

  color: #ccc;
}

@media (max-width: 768px) {
  body {
    background-size: 200% 200%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.language-toggle::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 1px;
  background-color: currentColor;
  transition: width 1s ease-out;
}

.language-toggle:hover::before {
  width: 100%;
}

a {
  color: #333;
  cursor: pointer;
  transition: color 1s ease-in-out;
}

.dark a {
  color: #ccc;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in forwards;
}
