@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-800 dark:text-gray-300;
  font-size: 1.25rem;
  transition: color 1s ease-in-out;
}

@media (max-width: 768px) {
  body {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 0.875rem;
  }
}

a {
  @apply text-gray-800 dark:text-gray-300;
  transition: color 1s ease-in-out;
  cursor: pointer;
}

/* globals.css */
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* Dark mode background */
.bg-gradient-dark {
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.3),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.3), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.3), rgba(0, 0, 255, 0) 70.71%),
    black;
  background-size: 300% 300%;
  animation: gradient 20s ease infinite;
  transition: background 1s ease-in-out;
}

/* Light mode background */
.bg-gradient-light {
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.3),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.3), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.3), rgba(0, 0, 255, 0) 70.71%),
    white;
  background-size: 300% 300%;
  animation: gradient 20s ease infinite;
  transition: background 1s ease-in-out;
}

/* Responsive: reduce background size for small screens */
@media (max-width: 768px) {
  .bg-gradient-dark,
  .bg-gradient-light {
    background-size: 200% 200%;
  }
}
